body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #fff;
    padding: 20px;
  }
  
  h1 {
    font-size: 2em;
    margin-top: 0;
    text-align: center;
  }
  
  nav {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
    
  }
  a:hover{
    color: blue;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  